# Set the working application directory
# working_directory "/path/to/your/app"
working_directory "<%= "#{deploy_to!}/#{current_path!}" %>"

# Unicorn PID file location
# pid "/path/to/pids/unicorn.pid"
pid "<%= unicorn_pid %>"

# Path to logs
# stderr_path "/path/to/log/unicorn.log"
# stdout_path "/path/to/log/unicorn.log"
stderr_path "<%= "#{deploy_to!}/#{shared_path}" %>/log/unicorn.error.log"
stdout_path "<%= "#{deploy_to!}/#{shared_path}" %>/log/unicorn.log"

# Unicorn socket
# listen "/tmp/unicorn.[app name].sock"
listen "<%= unicorn_socket %>"

# Number of processes
# worker_processes 4
worker_processes <%= unicorn_workers %>

# Time-out
timeout 60